#tabela {
  width:100%;
  height:100%;
  border:1px solid #C0C0C0;
  border-collapse:collapse;
  border-spacing:2px;
  padding:5px;
}
#tabela th {
  border:1px solid #C0C0C0;
  padding:5px;
  background:#F0F0F0;
}
#tabela td {
  border:1px solid #C0C0C0;
  text-align:left;
  padding:5px;
  background:#FFFFFF;
}

/* Stops thead repetition when window.print() */
thead {
  display: table-row-group;
}

table {
  page-break-inside:auto
}
tr { page-break-inside:avoid;
  page-break-after:auto
}
